{% block subject 'Nómina del mes de ' ~ month %}

{% block body_html %}
	<p>Te informamos de que se ha completado el envío de los documentos de nómina correspondientes al mes de <strong>{{ month }}</strong></p>
    <p>Se han enviado <strong>{{ sent }}</strong> de un total de {{ total }}</p>
	<p>Atte.</p>
	<p>Departamento Técnico</p>
{% endblock %}

{% block body_text %}
	Te informamos de que se ha completado el envío de los documentos de nómina correspondientes al mes de {{ month }}.
    
	Han sido enviados {{ sent }} documentos de un total de {{ total }}.
	
	Atte.
	
	Departamento Técnico
{% endblock %}

