{% extends 'base.html.twig' %}
{% block body %}
	<h1>Hi {{ app.user.fullname }}. Welcome to Symfony.</h1>
	<p>Language: {{ app.request.getPreferredLanguage() }}</p>
	<p>Id: {{ app.user.id }}</p>
	<p>Username: {{ app.user.username }}</p>
	<p>Email: {{ app.user.email }}</p>
	<p>First: {{ app.user.firstname }}</p>
	<p>Last: {{ app.user.lastname }}</p>
	<p>Avatar: {{ app.user.avatar }}</p>
{% endblock %}
